.nominations {
  text-align: center;
}
.nominations span {
  color: #9BD4D4;
}
.nominee-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 1000px ){
  .nominations {
    text-align: left;
    padding: 0 1rem;
  }
}