.main {
  max-width: 1200px;
  min-height: 95vh;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: 1px solid black;
}
.search-container {
  min-width: 50%;
  max-width: 60%;
  min-height: 100px;
  height: fit-content;
  border: 2px solid black;
  padding: 1rem;
}
.nominations-container {
  min-width: 400px;
  min-height: 100px;
  height: fit-content;
  border: 2px solid black;
}