form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
input {
  width: 70%;
  height: 2rem;
  border: none;
  background: inherit;
  border-bottom: 2px solid black;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  padding-left: 0.4rem;
}

input:focus {
  outline: none;
}

button {
  padding: 0.6rem 1.6rem;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #F68058;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  cursor: pointer;
  color: #fff;
  scale: 1.05;
}

@media (max-width: 768px ){
  form {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
  button {
    width: 60%;
    margin: 2rem auto 0 auto;
  }
}